@{
    ViewBag.Title = "Preguntas Frecuentes";
}
<main aria-labelledby="title">
    <br />
    <h1 id="title">@ViewBag.Title ❓ ❔</h1>
    <hr />
    <br />
    <br />
    <div>
        <dl>
            <h3>Pagos</h3>
            <dt>
                <button type="button" aria-controls="panel-page-faq-template-1" aria-expanded="false">
                    <span class="icon-plus">
                    </span>

                    ¿Con qué puedo pagar?
                </button>
            </dt>
            <dd id="panel-page-faq-template-1" aria-hidden="false" style="display: block;">
                <p>Contamos con distintos métodos de pago para facilitar tu compra.</p>
                <p><strong>1. Pagos en línea con:</strong></p>
                <p>PayPal, tarjetas de débito (solo tarjetas mexicanas), tarjetas de crédito (Visa, Mastercard, y American Express), pagos en&nbsp;OXXO en efectivo, y transferencias vía SPEI.</p>
                <p><strong>2. Pagos contra entrega</strong>&nbsp;(opción disponible para entregas en el área metropolitana de Monterrey).</p>
                <p>Puedes pagar al recibir tu pedido con tarjeta de debito o crédito o pagar en efectivo. (<strong>En caso que no haya conexión&nbsp;en el lugar de entrega, el pago deberá&nbsp;de realizarse en efectivo</strong>)</p>
                <p><strong>3. Pedidos por teléfono:&nbsp;</strong></p>
                <p>Puedes realizar tu pedido vía telefónica al (81) 8345-4550</p>
                <p><strong>4. En sucursales:</strong></p>
                <p>Acudiendo directamente a cualquiera de nuestras sucursales.</p>
            </dd>
            <button type="button" aria-controls="panel-1541427360435" aria-expanded="true">
                <span class="icon-plus"></span>
                ¿Puedo realizar mi pedido por teléfono o WhatsApp?
            </button>
            <dd id="panel-1541427360435" aria-hidden="false" style="display: block;">
                <p>Sí, puedes comunicarte al (81)8311-6793 o al (81)1004-8752  para realizar tu pedido por teléfono o por WhatsApp.</p>

            </dd>
            <br />
            <br />
            <h3 class="faq-heading">Envíos</h3>
            <button type="button" aria-controls="panel-page-faq-template-3" aria-expanded="true">
                <span class="icon-plus"></span>
                ¿Qué costo tienen los envíos?
            </button>
            <dd id="panel-page-faq-template-3" aria-hidden="false" style="display: block;">
                <p>El costo de envío para el area metropolitana de Monterrey&nbsp;varía de acuerdo a las zonas y productos.</p>
                <p></p>
                <p>Zona Metropolitana de Monterrey</p>
                <p>-Apodaca: $150</p>
                <p>-General Escobedo: $120</p>
                <p>-Guadalupe: $120</p>
                <p>-Monterrey: $120</p>
                <p>-San Nicolás de los Garza: $120</p>
                <p>San Pedro Garza García: $200</p>
                <p>-Juarez: $150</p>
                <p></p>
            </dd>
            <button type="button" aria-controls="panel-page-faq-template-5" aria-expanded="true">
                <span class="icon-plus"></span>
                ¿Cuándo llegará mi pedido?
            </button>
            <dd id="panel-page-faq-template-5" aria-hidden="false" style="display: block;">
                <p><strong>De Lunes a Domingo</strong></p>
                <p>Pedidos realizados en el rango horario de 9:00 am a 5:00 pm ,se entregan de 10:30 am a 2:00 pm.</p>
                <p>Pedidos realizados de 10:30 am a 2:30 pm, se entregan de 3:00 pm a 5:30 pm.</p>
                <p>Pedidos realizados de 5:30 pm a 9:00 pm se entregan al día siguiente, en horario de 10:30 am a 2:00 pm.</p>
                <p></p>
                <p></p>
                <p><em><strong>Toma de pedidos de 11:00 a.m. a 2:00 p.m. - Entrega de 2:30p.m. a 6:00 p.m.</strong></em></p>
                <p></p>
                <p><strong><em>25 de Diciembre , 1 de Enero, 14 de Febrero y 10 de Mayo&nbsp; &nbsp;**NO HAY SERVICIO A DOMICILIO</em></strong></p>
            </dd>

        </dl>




    </div>

</main>